.blur-gradient {
	position: fixed;
	z-index: 10;
	inset: 0;
	pointer-events: none;
}

.blur-gradient > * {
	position: absolute;
	inset: 0;
	backdrop-filter: blur(var(--blur));
	clip-path: polygon(0 var(--start), 100% var(--start), 100% var(--end), 0 var(--end));
}