.blur-gradient {
	position: fixed;
	z-index: 10;
	inset: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
}


.blur-gradient > * {
	position: absolute;
	inset: 0;
	backdrop-filter: blur(var(--blur));
	mask-image: linear-gradient(to bottom, var(--mask));
}

.blur-gradient > :nth-child(1) {
	--blur: 10px;
	--mask: black 0%, black 20%, transparent 40%;
}

.blur-gradient > :nth-child(2) {
	--blur: 5px;
	--mask: transparent 20%, black 40%, transparent 60%;
}

.blur-gradient > :nth-child(3) {
	--blur: 2px;
	--mask: transparent 40%, black 60%, transparent 80%;
}

.blur-gradient > :nth-child(4) {
	--blur: 1px;
	--mask: transparent 60%, black 80%, transparent 100%;
}